.jumbotron, .card-body, .container, .site-header {
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.jumbotron-fluid {
  height: 41vh;
  padding: 1em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back_sm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 375px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .jumbotron-fluid {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  border-top: .0425rem solid rgba(0, 0, 0, .1);
  background: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .1rem;
}

.light-text {
  color: white;
}

.site-header a {
  color: #fff;
  transition: color 0.10s;
}

.site-header a:hover {
  color: #17a2b8;
}

.site-header .dropdown-menu a {
  display: block;
  color: #6c757d;
  transition: color 0s;
}

.site-header .dropdown-menu a:hover {
  display: block;
  color: #212529;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#userInfo {
  color:white;
}

/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
}

/* align icon */
.left-addon .fa  {
  left:  0px;
}

/* icon padding  */
.left-addon input  {
  padding-left:  35px;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-responsive {
  width:100%;
  border-radius: 0.25rem;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.star-rating {
  line-height:32px;
  font-size:15px;
  float: right;
}

#commentDate {
  float: left;
}

.set-star-rating {
  direction: rtl;
  display: inline-block;
  padding: 2px;
  font-size: 15px;
  float: left;
}

.set-star-rating input[type=radio] {
  display: none
}

.set-star-rating label {
  color: #bbb;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.set-star-rating label:hover,
.set-star-rating label:hover ~ label,
.set-star-rating input[type=radio]:checked ~ label {
  color: orange;
}

#relatedBtnProd {
  float: right;
}

#relatedProdCards {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

#relatedProdCards:hover {
   transform: scale(1.02);
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.custom-card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.custom-card:hover {
   transform: scale(1.02);
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu > a:hover {
  background-image: none;
  background-color: #dae0e5;
}

.form-control:focus,
.custom-select:focus {
  border-color: #17a2b8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 132, 150, 0.6);
}

/* Radio checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #17a2b8;
    border-radius: 50%;
}

/* Radio active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #17a2b8;
}
    
/* the shadow; displayed while the radio is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 132, 150, 0.6)
}

.btn-group-toggle label {
  cursor: pointer;
}

a i {
  cursor: pointer;
}

.card-header .fas {
  transition: .3s transform ease-in-out;
  cursor: pointer;
}
.card-header .collapsed .fas {
  transform: rotate(-90deg);
}

/***** Wrapper *****/
 
.wrapper {
  display: block;
}

/***** Sidebar *****/

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 999;
  background: #f8f9fa;
  color: #888;
  transition: all .3s;
  text-align: left;
}

.sidebar.active {
  left: 0;
}

/***** Overlay *****/
 
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.overlay.active {
  display: block;
  opacity: 1;
  
  /* Preventing strange flickering in Webkit */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.open-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 997;
}

/* Close btn close style */

.dismiss {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  background: #ddd;
  color: #888;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  background: #ccc;
  color: #888;
}

/* Styling the Logo, Menu Links and Buttons */

.sidebar .logo {
  padding: 20px 10px 0px;
  transition: all .3s;
}

.sidebar .logo a {
  display: inline-block;
  width: 220px;
  height: 60px;
  background: url(../img/logo.png) left top no-repeat;
  border: 0;
  text-indent: -999999px;
}

/* menu links style */

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #6c757d;
}

.sidebar ul li a:focus,
.sidebar ul li.active > a:focus {
  outline: 0;
  background: #ddd;
  color: #6c757d;
}

.sidebar ul li.active > a:hover {
  outline: 0;
  background: #ddd;
  color: #212529;
}

.sidebar ul li a:hover {
  outline: 0;
  background: #ddd;
  color: #212529;
}

.sidebar ul li a i {
  margin-right: 5px;
}

.sidebar ul ul a {
  background: #fff;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: #ccc;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* style for the logout sidebar button */

.sidebar .logout {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3 i {
  margin-right: 5px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 
    .sidebar .logo a {
        background-image: url(../img/cover_back_sidebar.png) !important;
        background-repeat: no-repeat !important;
        background-size: 220px !important;
    }
 
}

.user {
  display: block;
  padding: 10px 20px;
  border: 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.user p i {
  margin-right: 10px;
}

nav a i {
  margin-right: 10px;
}